* {
	font-family: Calibri, sans-serif;
}
#body_core {
  background-color: lightgray;
}
.center {
	text-align: center;
}
.piccenter { /* this does not work! idfk how to fix it */
	text-align: center; 
	display: block;
}
.center-title {
	text-align: center;
	font-weight: bold;
	border-bottom-style: dotted;
	border-width: 1px;
}
.center-title-noborder {
	text-align: center;
	font-weight: bold;
}
.bottom-border {
	border-bottom-style: dotted;
	border-width: 1px;
}

span {
	font-weight: normal;
}