.container1 {
	position: relative;
}

.bg {
	width: 50%;
	height: auto;
}

.container2 {
	position: absolute;
	bottom: 36%;
	left: 5%;
	width: 44%;
	height: 40%;
}

.windowtitle {
	position: absolute;
	left: 1%;
}